@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: #1b1c1e;
}

.snap {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.snap::-webkit-scrollbar {
  display: none;
}

.btnbg {
  border-radius: 12px;
  background: var(
    --Dark-purple-gradient,
    linear-gradient(96deg, #c371c3 23.99%, #280f44 107.44%)
  );
}
.grad {
  background: var(
    --Dark-purple-gradient,
    linear-gradient(96deg, #c371c3 23.99%, #280f44 107.44%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.grad2 {
  background: var(
    --button-gradient,
    linear-gradient(102deg, #03464a 22.88%, #01757c 88.85%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.other1 {
  background: var(
    --button-gradient,
    linear-gradient(102deg, #03464a 22.88%, #01757c 88.85%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.other2 {
  background: var(
    --Dark-purple-gradient,
    linear-gradient(96deg, #c371c3 23.99%, #280f44 107.44%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.other3 {
  background: linear-gradient(175deg, #9bff00 -54.29%, #008000 95.94%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.other4 {
  background: var(
    --merchant-gradient,
    linear-gradient(95deg, #cb174d 56.5%, #9f1e44 82.76%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.otherbg {
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: right bottom;
}
.exp {
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: bottom;
}
.paybg {
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: left bottom;
}
.shad {
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.04);
}
.why {
  background: var(
    --button-gradient,
    linear-gradient(102deg, #03464a 22.88%, #01757c 88.85%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.whybtn {
  background: var(
    --button-gradient,
    linear-gradient(102deg, #03464a 22.88%, #01757c 88.85%)
  );
}
.hw {
  border-radius: 6.278px;
  background: var(--white, #fff);
  box-shadow: 5.23126px 5.23126px 31.38756px 0px rgba(136, 136, 136, 0.25);
}
.redGrad {
  border-radius: 10px;
  background: var(
    --merchant-gradient,
    linear-gradient(95deg, #cb174d 56.5%, #9f1e44 82.76%)
  );
}
.greenGrad {
  border-radius: 10px;
background: var(--greeennn, linear-gradient(175deg, #9BFF00 -54.29%, #008000 95.94%));
}
.under {
border-radius: 9px;
  background: var(
    --Dark-purple-gradient,
    linear-gradient(96deg, #c371c3 23.99%, #280f44 107.44%)
  );
}
.feat {
  box-shadow: 0px 0px 72px 0px rgba(0, 0, 0, 0.05);
}
.step {
  fill: var(--white, #FFF);
filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.08));
}